* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 50px;
  list-style: 64px;
  color: #222;
}

h2 {
  font-size: 30px;
  list-style: 64px;
  color: #222;
}

h3 {
  font-size: 50px;
  list-style: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  list-style: 64px;
  color: #222;
}

h6 {
  font-weight: 700;
  list-style: 12px;
  color: #222;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  padding: 40px 0px;
}

/* button styling */
/* global */
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 4px;
}

button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 4px;
}

.body {
  width: 100%;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  /* box-shadow: 0 15px 15px rgb(0, 0, 0, 0.3); */
  box-shadow: 0 15px 15px rgb(99 105 103 / 30%);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(0, 255, 179);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  /* parent */
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(255, 0, 234);
}

/* after is use to underline the navber items  */
#navbar li a.active::after,
#navbar li a:hover:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: rgb(146, 127, 255);
  /* clield */
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* hero section::*/
#hero {
  background-image: url("/img/p1.jpg");
  background-repeat: no-repeat;
  /*  for full image */
  height: 60vh;
  width: 100%;
  background-position: right 25px;
  padding: 0px 60px;
  display: flex;
  /* flex-direction:column; very important:: */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.089);
  margin-top: 50px;
}

/* hero text color */
#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: rgba(139, 0, 116, 0.815);
}

#hero button {
  background-image: url("/img/button.png");
  padding: 14px 80px 14px 65px;
  background-color: transparent;
  color: rgb(38, 0, 255);
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 800;
  font-size: 15px;
}

#hero button:hover {
  color: white;
  background-color: rgb(255, 0, 200);
}

/* features */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 10px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.3);
  border: 1px solid;
  border-radius: 4px;
  margin: 15px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(0, 153, 255);
  background-color: rgba(255, 182, 200, 0.5);
}

#feature .fe-box:nth-child(2) h6 {
  background-color: lightgreen;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: rgba(135, 206, 250, 0.342);
}

#feature .fe-box:nth-child(4) h6 {
  background-color: rgba(238, 200, 144, 0.363);
}

#feature .fe-box:nth-child(5) h6 {
  background-color: rgba(144, 238, 160, 0.24);
}

#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(144, 216, 238);
}

/* product1 */

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  /* for images into 2 coloum flex-wrap: wrap; */
}
.cart-img {
  height: 227.76px;
  width: 227.76px;
}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(183, 0, 255);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2 ease;
  /* position: relative;  */
  /* parent */
}

#product1 .pro:hover {
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0);
}

#product1 .pro img {
  width: 100%;
  border: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: crimson;
  font-size: 12px;
  font-weight: 900;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 255, 34);
}

/* #product1 .pro .des a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: bisque;
	font-weight: 500;
	color: darkcyan;
	margin-right: 70px;
} */
.fa-solid {
  margin-left: 200px;
}

/* banner*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/products/bg.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: tomato;
  font-size: 30px;
  padding: 10px 0;
}

/* button hover */
#banner button:hover {
  background-color: aqua;
  color: black;
}

#sm-banner {
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  flex-wrap: wrap;
}

/* small banner */
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* align-items:flex-start ; */
  align-items: center;
  background-image: url("/img/banner/ban.jpg");
  min-width: 580px;
  /* min-height: 580px; */
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

/* small bannerbannerbox-2 */
#sm-banner .banner-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* align-items:flex-start ; */
  align-items: center;
  background-image: url("/img/banner/b10.jpg");
  min-width: 580px;
  /* min-height: 580px; */
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner h4 {
  color: rgb(46, 165, 42);
  font-size: 20px;
  font-weight: 900;
}

#sm-banner h2 {
  color: rgb(71, 99, 255);
  font-size: 20px;
  font-weight: 900;
}

#sm-banner span {
  color: black;
  font-size: 20px;
  font-weight: 1000;
}

/* sm-banner -button hover effect */
#sm-banner .banner-box:hover button {
  color: black;
  background: aqua;
}

/* banner3 */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
}

#banner3 .banner-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  /* align-items: center; */
  background-image: url("img/banner/b7.jpg");
  /* min-width: 580px; */
  min-width: 30%;
  /* min-height: 580px; */
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box3-2 {
  background-image: url(/img/banner/b4.jpg);
}
#banner3 .banner-box3-3 {
  background-image: url(/img/banner/b18.jpg);
}

#banner3 .banner-box3 h2 {
  color: white;
}
#banner3 .banner-box3 h3 {
  color: blue;
}
#banner3 .banner-box3 h3 span {
  color: tomato;
}
/* newslatter */
#newslider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/ban114.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #222;
  margin: 50px 0;
}

#newslider h4 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  /* margin-left: 20px; */
  text-align: center;
}
#newslider h2 {
  color: white;
  font-size: 15px;
  font-weight: 1000;
  margin-left: 20px;
  /* text-align: center; */
}
#newslider span {
  color: tomato;
  font-size: 15px;
  font-weight: 1000;

  /* text-align: center; */
}

/* from */
/* #newslider .form{
	display: flex;
} */
/* #newslider form */
#newslider input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 110px;
  outline: none;
  background-color: rgba(192, 255, 220, 0.911);
  color: black;
  font-weight: 900;
}

/* formbtn */
/* #newslider .formbtn{ */
#newslider button {
  color: #222;
  background-color: bisque;
  white-space: nowrap;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4pc;
}
#newslider button:hover {
  color: black;
  background-color: aqua;
  font-weight: 900;
}

/* foooter */
footer {
  display: flex;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  padding-bottom: 0 0 80px 0;
}
footer a {
  font-size: 13px;
  margin: 0 0 80 0;
  text-decoration: none;
  color: #222;
}

footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: black;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid tomato;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: blueviolet;
  background-color: aqua;
  font-weight: 900;
}

footer .copyright p {
  width: 100%;
  text-align: center;
  background-color: brown;
  color: white;
}
